<style>
   
</style>
<hr />
<footer>
    <div class="container my-5">

        <footer style="background-color: #eee6d3;">
          <div class="container p-4">
            <div class="row">
              <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="mb-3 text-dark">Blog Tin Tức</h5>
                <p>
                  Tin tức mới nhất, tin tức mới nhất, tin tức nóng hỏi, tin tức 25h, báo mới mỗi ngày,...
                </p>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3 text-dark">Liên hệ</h5>
                <ul class="list-unstyled mb-0">
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f;">Facebook</a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f;">Zalo</a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f;">Instagram</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-1 text-dark">Địa chỉ</h5>
                <p>
                    Tầng 5, Tòa nhà Báo Sinh Viên VN, D29 Phạm Văn Bạch, Yên Hòa, Cầu Giấy, Hà Nội
                </p>
              </div>
            </div>
          </div>
        </footer>
        
      </div>
  </footer>
  
</div>
<!-- End of .container -->
</footer>